In [1]:
import pandas as pd
import requests

In [2]:
df = pd.read_excel(
    "dossiers_journee-nationale-de-la-resilience-appel-a-projets_2023-07-04_09-02.xlsx",
    sheet_name="Dossiers"
    )

In [34]:
df2 = pd.DataFrame(
    index = df["ID"],
    columns = ["Adresse","lat_deg","lon_deg"]
)

df2["Adresse"] = df.set_index("ID")["Adresse"]

In [17]:
df2

                                                    Adresse Lat_deg Lon_deg
ID
12822500                  12 Place de Verdun 38000 Grenoble     NaN     NaN
12848158  288 Avenue Georges Clémenceau 77000 Vaux-le-Pénil     NaN     NaN
12851197           9 Rue Jacques Louvel-Tessier 75010 Paris     NaN     NaN
12975331            11 Rue du Maréchal Leclerc 49400 Saumur     NaN     NaN
13002567           7 BIS Rue René et Emile Fage 19000 Tulle     NaN     NaN
13169760                         12 Rue Villiot 75012 Paris     NaN     NaN
13173085  Observatoire Volcanologique et Sismologique de...     NaN     NaN

In [27]:
# test get lat lon from adress

adress = "187 chemin du clos marchand, Saint-Ismier"
url = f"https://nominatim.openstreetmap.org/?adressdetails=1&q={adress.replace(' ','+')}&format=json&limit=1"
data = requests.get(url).json()

In [35]:
# function 
def adress2latlon(adress):
    url = f"https://nominatim.openstreetmap.org/?adressdetails=1&q={adress.replace(' ','+')}&format=json&limit=1"
    try :
        data = requests.get(url).json()[0]
        return (data["lat"],data["lon"])
    except :
        print(f"Warning : adress not found : {adress}")

In [36]:
df2[['lat_deg', 'lon_deg']] = pd.DataFrame([adress2latlon(adress) for adress in df2['Adresse']], index=df2.index)

Can't get lat lon for adress Observatoire Volcanologique et Sismologique de Guadeloupe - Le Houelmont - 97113 Gourbeyre - La Guadeloupe
Request returned : []

In [40]:
df2[~df2["lat_deg"].isna()]

,Adresse,lat_deg,lon_deg
ID,,,
12822500,12 Place de Verdun 38000 Grenoble,45.1867239,5.7302904
12848158,288 Avenue Georges Clémenceau 77000 Vaux-le-Pénil,48.5393221,2.6782741
12851197,9 Rue Jacques Louvel-Tessier 75010 Paris,48.8710939,2.3693882
12975331,11 Rue du Maréchal Leclerc 49400 Saumur,47.2544869,-0.0845131
13002567,7 BIS Rue René et Emile Fage 19000 Tulle,45.2649001,1.7749318
13169760,12 Rue Villiot 75012 Paris,48.8412793,2.3750354

In [41]:
# save it 
df2.to_excel("coordonnées_actions.xlsx")